@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.header__section {
  display: flex;
  flex-direction: row;
  padding-left: 10.83vw;
}

.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
}

.header__hell {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #111518;
  margin: 43px 0 0 0;
}

.header__flame {
  width: 22px;
  height: 30px;
  margin: 43px 5.39px 0 4.06px;
}

.header__en {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #111518;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 43px 0 0 0;
}

.header__hellish {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #FF6B09;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__english {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  margin: 57px 0 0 0;
}

.header-nav__anchor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #B9B9B9;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
}

.header-nav__anchor:hover {
  color: #FF6B09;
  transition: color 325ms ease-in-out;
}

.header__consultationbtn {
  width: 336px;
  height: 70px;
  border: 2px solid #FF6B09;
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

.header__consultationbtn:hover {
  color: #FF6B09;
  transition: color 250ms ease-in-out;
}

.hero {
  margin-left: 20px;
  position: relative;
}

.hero::after {
  content: url("../../src/images/header/header-shape.png");
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: 100%;
}

.hero__left {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  margin-left: 9%;
}

.hero__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 75px;
  letter-spacing: 0.03em;
  color: #111518;
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin-bottom: 40px;
}

.hero__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  margin-bottom: 30px;
}

.hero__text--box {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.hero__text--guarantee {
  color: #111518;
  margin: 0;
}

.hero__text--points {
  color: #FF6B09;
  margin: 0;
}

.hero__button {
  width: 354px;
  height: 70px;
  background-color: #FF6B09;
  border: none;
  margin-left: 9%;
}

.hero__button--anchor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.hero__img {
  width: 720px;
  height: 720px;
  position: relative;
  bottom: 350px;
  left: 55vw;
}

.hero__img--bg {
  width: 840px;
  height: 602px;
  position: absolute;
  z-index: -1;
  top: 40px;
  left: -80px;
}

.advantages {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
}

.advantages__box {
  border: 2px #FF6B09 solid;
  width: 102px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.advantages__text::after {
  content: "";
  height: 66px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  left: 18px;
  z-index: -1;
}

.advantages__box--1::after {
  content: url(../images/advantages/adv-svg1.svg);
}

.advantages__box--2::after {
  content: url(../images/advantages/adv-svg2.svg);
}

.advantages__box--3::after {
  content: url(../images/advantages/adv-svg3.svg);
  position: absolute;
  z-index: 2;
}

.advantages__img {
  width: auto;
  height: auto;
}

.advantages__img--adv1 {
  width: 40.31px;
  height: 46.55px;
}

.advantages__img--adv2 {
  width: 46.11px;
  height: 47.33px;
}

.advantages__img--adv3 {
  width: 41px;
  height: 60px;
}

.advantages__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  width: 220px;
  height: 66px;
  position: absolute;
  left: 80px;
  z-index: 2;
}

.problems {
  position: relative;
}

.background-problems {
  width: 100%;
  height: 560px;
  background-color: #111518;
  position: relative;
}

.background-problems__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 650px;
  height: 178px;
}

.background-problems__help {
  color: #FF6B09;
}

.flame {
  position: absolute;
  left: calc(100% - 400px);
  bottom: 0;
}

.grid-text-problems {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
  width: 60%;
}

.grid-box--problems {
  background-color: #FFFFFF;
  position: absolute;
  bottom: -112px;
  right: 10%;
}

.grid--problems {
  margin: 0 auto;
}

.grid__item--problems {
  position: relative;
}

.grid__item--problems:before {
  content: "0" counter(sectionNum) "";
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #FF6B09;
  margin-left: 30px;
}

.grid__item--problems:after {
  content: "";
  width: 15px;
  height: 3px;
  background-color: #FF6B09;
  position: absolute;
  left: -30px;
  top: 15px;
  margin-left: 30px;
}

.how-we-do {
  margin: 0 auto;
  margin-top: 320px;
  position: relative;
  width: 80%;
}

.how-we-do__title {
  display: flex;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #111518;
}

.grid-box--how {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.grid--how {
  margin: 0 auto;
  display: flex;
}

.grid__item--how {
  width: 32.5%;
  height: 396px;
  background: #FFFFFF;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid__item--how:nth-child(1) {
  margin-left: 0px;
}

.grid__item--how:nth-child(4) {
  margin-left: 0px;
}

.grid__item--how:nth-child(-n+3) {
  margin-bottom: 20px;
  background-color: yellow;
}

.grid__item--how:nth-child(3n+2) {
  margin: 0 15px;
}

.grid-how-svg {
  width: 44px;
  height: 48px;
}

.grid-how-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  width: 70%;
}

.grid-how-title::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #FF6B09;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}

.grid-how-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  text-justify: center;
  width: 70%;
}

.program {
  height: 1237px;
  width: 100%;
  background-color: #111518;
  position: relative;
  z-index: 999;
}

.program::after {
  content: "";
  background-image: url("../../src/images/program/mainpic1.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: calc(100% - 503px);
}

.program::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 269px;
}

.program-box {
  position: relative;
  margin: 0 auto;
  margin-left: 11%;
}

.program-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: flex;
  padding-top: 120px;
}

.program-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 141px;
  padding: 0;
}

.program-list__item::before {
  content: ".";
  color: transparent;
  width: 17px;
  border-radius: 16px;
  background-color: #FF6B09;
  display: flex;
  position: absolute;
  top: 260px;
}

.program-list__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.program-list__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #FF6B09;
}

.program-list__subtitle::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #FF6B09;
  margin-right: 7px;
}

.program-list__text {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  opacity: 0.5;
  text-align: left;
  display: flex;
  width: 180px;
}

.grid-box--program {
  position: absolute;
  bottom: -530px;
  left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid-box {
  width: 79%;
  height: auto;
  margin: 0 auto;
  counter-reset: sectionNum;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.grid__item {
  width: 30%;
  list-style-position: inside;
  counter-increment: sectionNum;
  list-style-type: none;
}

.grid__item:nth-child(1) {
  margin-left: 5%;
}

.grid__item:nth-child(4) {
  margin-left: 5%;
}

.how-we-do {
  margin: 0 auto;
  margin-top: 320px;
  position: relative;
  width: 80%;
}

.how-we-do__title {
  display: flex;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #111518;
}

.grid-box--how {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.grid--how {
  margin: 0 auto;
  display: flex;
}

.grid__item--how {
  width: 32.5%;
  height: 396px;
  background: #FFFFFF;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid__item--how:nth-child(1) {
  margin-left: 0px;
}

.grid__item--how:nth-child(4) {
  margin-left: 0px;
}

.grid__item--how:nth-child(-n+3) {
  margin-bottom: 20px;
  background-color: yellow;
}

.grid__item--how:nth-child(3n+2) {
  margin: 0 15px;
}

.grid-how-svg {
  width: 44px;
  height: 48px;
}

.grid-how-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  width: 70%;
}

.grid-how-title::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #FF6B09;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}

.grid-how-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  text-justify: center;
  width: 70%;
}/*# sourceMappingURL=main.css.map */