<header class="header">
    <section class="header__section">
        <div class="header__logo">
<p class="header__hell">Hell</p><img src="../src/images/flame.png" class="header__flame"><p class="header__en">EN</p>
<p class="header__hellish">hellish <p class="header__english">english</p></p>
        </div>
        <nav class="header-nav">
<ul class="header-nav__list">
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Studying program</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">About</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Training options</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Contacts</a></li>
</ul>
        </nav>
        <button type="button" class="header__consultationbtn">
            Consultation By Phone
        </button>
    </section>
</header>
