<header class="header">
    <section class="header__top header-top">
        <div class="header-top__logo">
<p>Hell</p><img src="../images/flame.png"><p>EN</p>
        </div>
        <nav class="header__top header-nav">
<ul class="header-nav__list">
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Studying program</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">About</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Training options</a></li>
    <li class="header-nav__item"><a href="#" class="header-nav__anchor">Contacts</a></li>
</ul>
        </nav>
        <button type="button" class="header__consultationbtn">
            Consultation By Phone
        </button>
    </section>
</header>
