<section class="hero">
    <div class="hero-left">
    <span class="hero-title">Complex preparation for English UPE</span>
    <span class="hero-text">It won't be easy &nbsp;<div class="hero-text__div"><p class="hero-text__guarantee">But you are guaranteed to get &nbsp;<p class="hero-text__points">+25 points</p></p></div></span>
    </div>
    <button type="button" class="hero-button"><a class="hero-button__anchor" href="#">I want a free lesson</a></button>
    <div class="hero-img">
<img class="hero-img__bg" src="../src/images/hero/header-bg.png" alt="5 kobiet przy biurku na spotkaniu biznesowym.">
<img class="hero-img__picture" src="../src/images/hero/header-picture.png" alt="5 kobiet przy biurku na spotkaniu biznesowym.">
    </div>
</section>