<section class="problems">
    <title>problems</title>
    <div class="background-problems">
        <p class="background-problems__text">The main problems of students
        in English UPE, which<br>
        we <span class="background-problems__help">help</span> to solve</p></br>
    <svg class="flame" width="400" height="472" viewBox=" -80 -100 445 620">
        <use href="../src/images/problems/flamebg.svg/#flame"></use>
    </svg>
    </div>
    <div class="grid-box grid-box--problems">
        <ol class="grid grid--problems">
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Grammar</p></li>
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Inability to understand spoken english</p></li>
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Stingy vocabulary for writing an essay</p></li>
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Preparing alone</p></li>
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Lack of a single knowledge resource</p></li>
            <li class="grid__item grid__item--problems"><p class="grid-text-problems">Lack of self-organization and laziness</p></li>
        </ol>
    </div>
</section>