<section class="program">
    <div class="program-box">
    <h1 class="program-heading">Our program</h1>
    <ul class="program-list">
        <li class="program-list__item">
            <h3 class="program-list__title">1 SEMSETER</h3>
            <p class="program-list__subtitle">Grammar</p>
            <span class="program-list__text">Nouns & Articles Adjectives & Adverb</span>
            <p class="program-list__subtitle">Vocabulary</p>
            <span class="program-list__text">Family & Relations People & Society</span>
        </li>
        <li class="program-list__item">
            <h3 class="program-list__title">2 SEMSETER</h3>
            <p class="program-list__subtitle">Grammar</p>
            <span class="program-list__text">Pronouns
                Active Voice
                Passive Voice</span>
            <p class="program-list__subtitle">Vocabulary</p>
            <span class="program-list__text">Home
                School
                Work</span>
        </li>
        <li class="program-list__item">
            <h3 class="program-list__title">3 SEMSETER</h3>
            <p class="program-list__subtitle">Grammar</p>
            <span class="program-list__text">Modal verbs
                Infinitive
                Gerund
                Participle: 1, 2</span>
            <p class="program-list__subtitle">Vocabulary</p>
            <span class="program-list__text">Travel & Tourism Culture & Free Time Sport</span>
            <p class="program-list__subtitle">Writing</p>
            <span class="program-list__text">Informal Letter</span>
        </li>
        <li class="program-list__item">
            <h3 class="program-list__title">4 SEMSETER</h3>
            <p class="program-list__subtitle">Grammar</p>
            <span class="program-list__text">Clauses: Conditional and Wishes
                Direct / Reported speech
                Preposition
                Conjunction
                Numeral
            </span>
            <p class="program-list__subtitle">Vocabulary</p>
            <span class="program-list__text">Healthy Living
                Nature & Environment
                Money
            </span>
            <p class="program-list__subtitle">Writing</p>
            <span class="program-list__text">Formal Letter
            </span>
        </li>
        <li class="program-list__item">
            <h3 class="program-list__title">5 SEMSETER</h3>
            <p class="program-list__subtitle"></p>
            <span class="program-list__text">Revision
                Tests
            </span>
        </li>
    </ul>
        <div class="grid-box grid-box--problems grid-box--program">
            <ol class="grid grid--problems">
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">Training in small groups</p>
                </li>
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">Rendered notes</p>
                </li>
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">Each lesson has a goal and a specific result</p>
                </li>
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">The real results of the teacher</p>
                </li>
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">The course program meets the requirements of the MES of Ukraine</p>
                </li>
                <li class="grid__item grid__item--problems">
                    <p class="grid-text-problems">Set of groups by level of knowledge</p>
                </li>
            </ol>
        </div>
    </div>
</section>