.advantages {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
}

.advantages__box {
    border: 2px #FF6B09 solid;
    width: 102px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.advantages__text::after {
    content: '';
    height: 66px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    left: 18px;
    z-index: -1;
}

.advantages__box--1::after {
    content: url(../images/advantages/adv-svg1.svg);
}
.advantages__box--2::after {
    content: url(../images/advantages/adv-svg2.svg);
}
.advantages__box--3::after {
    content: url(../images/advantages/adv-svg3.svg);
    position: absolute;
    z-index: 2;
    
}

.advantages__img {
    width: auto;
    height: auto;
}

.advantages__img--adv1 {
    width: 40.31px;
    height: 46.55px;
}

.advantages__img--adv2 {
    width: 46.11px;
    height: 47.33px;
}

.advantages__img--adv3 {
    width: 41px;
    height: 60px;
}

.advantages__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    width: 220px;
    height: 66px;
    position: absolute;
    left: 80px;
    z-index: 2;
}