.header-top {
    display: flex;
    flex-direction: row;
    padding-left: 10.83vw;
}

.header-top__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 130px;
}

.top-logo__up {
    display: flex;
    align-items: center;
}

.header-top__hell {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #111518;
    margin: 43px 0 0 0;
}

.header-top__flame {
    width: 22px;
    height: 30px;
    margin: 43px 5.39px 0 4.06px;
}

.header-top__en {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #111518;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 43px 0 0 0;
}

.header-top_hellish {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FF6B09;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-top__english {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #111518;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav__list {
    display: flex;
    flex-direction: row;
    margin: 57px 0 0 0;
}

.header-nav__anchor {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
}

.header-nav__anchor:hover{
    color: #FF6B09;
    transition: color 325ms ease-in-out;
}

.header__consultationbtn {
    width: 336px;
    height: 70px;
    border: 2px solid #FF6B09;
    background-color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}

.header__consultationbtn:hover {
    color: #FF6B09;
    transition: color 250ms ease-in-out;
}