.hero {
    margin-left: 20px;
    position: relative;
}

.hero::after{
    content: url('../../src/images/header/header-shape.png');
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: 100%;
}

.hero__left {
    display: flex;
    flex-direction: column;
    margin-top: 137px;
    margin-left: 9%;
}

.hero__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 75px;
    letter-spacing: 0.03em;
    color: #111518;
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin-bottom: 40px;
}

.hero__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 0.08em;
    color: #B9B9B9;
    margin-bottom: 30px;
}

.hero__text--box {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.hero__text--guarantee {
    color: #111518;
    margin: 0;
}

.hero__text--points {
    color: #FF6B09;
    margin: 0;
}

.hero__button {
    width: 354px;
    height: 70px;
    background-color: #FF6B09;
    border: none;
    margin-left: 9%;
}

.hero__button--anchor {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.hero__img {
    width: 720px;
    height: 720px;
    position: relative;
    bottom: 350px;
    left: 55vw;
}

.hero__img--bg {
    width: 840px;
    height: 602px;
    position: absolute;
    z-index: -1;
    top: 40px;
    left: -80px;
}

.hero-img__picture {}